*{
    margin: 0;
    padding: 0;

}
html, body {
    max-width: 100%;
    overflow-x: hidden;
   height: 100vh;
   font-family: Arial, Helvetica, sans-serif;
}
.outline{
    height: 10px;
    width: 100%;
    background-color: aqua;
}header {
    margin-top: 10px;
    height: 100px;
    width: 100%;
    color: white;
    position: sticky;
    top: 0;
    left: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.logo {
    margin-top: 20px;
   margin-left: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.logo img{
    height: 70px;
    width: 120px;
    
    
    

}
.logo .logoText{
    display: inline-block;
    font-size: 40px;
    color: white;
    margin-left: 10px;
    
    
}

.menu ul{
    display: flex;

}
.menu li{
    
    margin: 10px;
      list-style: none;
    
}


.menu  li a{
    font-size: 25px;
    text-decoration: none;
    color: black;
    padding: 0,20px;
    cursor: pointer;
}
.info{
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    
}
.accout{
    margin: 0 10px;
}
.accout button{
     height: 50px;
    width: 130px ;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}
.search{
    display: flex;
    

}
.search .searchtext{
    height: 50px;
    width: 300px ;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    outline: none; 
    display: none;  
    margin-right: 10px; 
    outline: none;
    border: none;
}
.search .searchtext.active{
    display: block;
}

.menu_icon{
    margin-top: 10px;
    display: none;
     margin: 0 20px;
}

i{
 font-size: 40px;
 color: black;

}
/* the hero css */

.hero{
    display: flex;
    justify-content:center;
    background-color: lightblue;
      height: 450px;
}
.heroText{
    margin-left: 20px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.heroText .text{
    width: 500px;
    
}

.heroText .text h1{
    font-size: 48px;
    color: black;
    font-weight: bold;
    
}
.heroText .text p{
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    
}
.heroText .text .button{
    margin: 10px;
    display: flex;
    justify-content: center;

}
.heroText .text .button button {
    height: 40px;
    width: 200px;
    background-color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
 
}
.heroText .text .button .courese_button{
    background-color: blue;
    color: white;
}
.heroText .text .button button:hover{
   color: white;
    background-color: rgb(2, 56, 75);
}




.benner  {
    
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .benner img{
    height: 400px;
    background:transparent;
  }
  .courses_section{
     
     margin-top: 30px;
}
  .courses_section .courses_section_head{
   font-size: 40px;
   text-align: center;

   
  }
  .courses{
    width: 500px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px;
  }
  .courese_info{
    display: flex;
   justify-content: center;
  }
  
  .courese .nameofCoures{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
  }
 .courese .star{
    height: 30px;
    width: 120px;
  }
  .rating{
    display: inline-block;
    font-size: 20px;
    font-size: 700;
  }
  .courses_section
  .allcourses{
    
    margin: 10px 30px 0 20px;
    text-align: right;
    
  }
  .allcourses a{
   font-size: 15px;
   text-decoration: none;
   border-radius: 10px;
   padding: 10px;
   border: 0.3px solid blue;
   color: blue;
   background-color: white;
  }

@media (max-width:1100px){
    .menu {
    position: absolute;
    top: 100%;
    right: -100%;       
    width: 50%;
    height: 100vh;
    background: blue;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    text-align: center;
}

.menu.active {
    right: 0;
    opacity: 1;
    pointer-events: auto;
}
    
    .menu ul{
        padding-top: 40px;
        display: flex;
        flex-direction: column;
       line-height: 60px;
    }
    .menu_icon{
        display: flex;
    }
    
    .search .searchtext{
        position: absolute;
        top: 100%;
        left: 50px;
        height: 50px;
        width:80vw;
        
    }
    .info{
        margin-right: 10px;
    
    }
    .heroText{
        margin-left:20px;
        text-align: center;
    }
    /* .hero h1{
        font-size: 34px;
    } */
    
   
    } 


    @media (max-width:1030px){
          .heroText h1{
        font-size: 35px;
    }
    .benner img{
        height: 300px;
        

    }
    
    }
@media (max-width:780px)
 {

    .logo img{
        height: 50px;
        width: 100px;
        margin-left: 2px;
    }
    .i{
        font-size: 19px;
    }
    .accout{
    margin: 0 ;
}

.hero{
    display: block;
    
    
}
.benner img{
    display: none;
}
.heroText{
    
    display: flex;
    background: url(../image/bennar.png);
    background-size:contain;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    height: 100%;
}
.heroText .text{
    width: 300px;
    margin-bottom: -40px;
}
.heroText .text h1{
    font-size: 40px;
    font-weight: bold;

}
.heroText .text .button button{
    width: 170px;
    font-size: 15px;
    margin: 10px;
}


   
}
@media screen and (max-width: 400px) {
    
 .menu li a {
    font-size: 18px; 
    padding: 0 10px;
  }

  .logo img {
    height: 50px;
    width: 90px;
    margin-left: -20px;}

  i {
    font-size: 20px; 
    /* margin: 0 10px;  */
 }
  .accout{
    margin: 0 ;
  }
  header {
    height: 80px; 
  
}
.heroText .text h1{
     font-size: 40px;
    font-weight: bold;
}

.heroText .text .button button{
    width: 280px;
    font-size: 16px;
    margin: 10px;
}
.search .searchtext{
    width: 100vw;
}
}